body
{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
}

.container
{
	margin: 0 auto;
	background-color: #efefef;
	max-width: 1200px;
}

.box
{
	background-color: #8ea86e;
	color: #fff;
	border-radius: 5px;
	padding: 20px;
	text-align: center;
	margin: 10px;
}

.nav
{
	display: inline-block;
	width: 15%%;
	float: right;
}

.logo
{
	width: 50%;
	display: inline-block;
	/*margin-left: auto;
	margin-right: auto;*/
}

#burgerCon
{
	margin-bottom: 20px;
	position: fixed;
	top: 85px;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.8);

	/* this should only be off by default and toggled with JS */
	display: none;
}

.showMobileNav {display: block !important;} /* important gives the middle finger back to the browser and says "DO THIS" */

#burgerCon li 
{ 
	padding: 20px; 
	border-top: thin solid black;
	text-align: center;
}

#burgerCon a 
{
	text-decoration: none;
	color: #8ea86e;
}

@media screen and (min-width: 600px) {
	#mainHeader 
	{
		display: flex;
		flex-direction: row;
	}

	.box { flex: 1 1 auto; }

	.nav { flex: 0 1 600px; /* no grow but it can be allowed to shrink */}

	.logo 
	{
		order: -1;
		flex: 0 1 220px;
		margin-left: 10px;
		margin-right: auto;
	}

	#products
	{
		display: flex;
		flex-direction: row;
	}
}